.u-section-1 .u-sheet-1 {
  min-height: 687px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 35px;
  margin: 66px 771px 0 144px;
}

.u-section-1 .u-gallery-1 {
  height: 396px;
  width: 706px;
  margin: 12px auto 0 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 258px;
  margin: -336px 39px 0 850px;
}

.u-section-1 .u-text-1 {
  margin: 111px auto 0 175px;
}

.u-section-1 .u-custom-html-3 {
  height: auto;
  min-height: 42px;
  margin: 12px 753px 33px 175px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 671px;
    margin-left: 44px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 0;
    margin-left: 689px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-right: 552px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 495px;
    margin-left: 0;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 25px;
    right: auto;
  }

  .u-section-1 .u-carousel-control-2 {
    left: auto;
    right: 29px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-left: 469px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-right: 332px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 315px;
  }

  .u-section-1 .u-gallery-1 {
    width: 540px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-left: 289px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-right: 152px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    margin-top: -75px;
    margin-right: 115px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 139px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: -520px;
    margin-left: 89px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 247px;
    margin-left: 110px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-right: 17px;
    margin-left: 110px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 740px;
}

.u-section-2 .u-text-1 {
  margin: 1px auto 0 365px;
}

.u-section-2 .u-form-1 {
  height: 686px;
  width: 473px;
  margin: 0 auto;
}

.u-section-2 .u-input-1 {
  background-image: none;
}

.u-section-2 .u-input-2 {
  background-image: none;
}

.u-section-2 .u-input-3 {
  background-image: none;
}

.u-section-2 .u-form-group-4 {
  margin-left: 0;
}

.u-section-2 .u-input-4 {
  background-image: none;
}

.u-section-2 .u-form-group-5 {
  margin-left: 0;
}

.u-section-2 .u-input-5 {
  background-image: none;
}

.u-section-2 .u-form-group-6 {
  margin-left: 0;
}

.u-section-2 .u-input-6 {
  background-image: none;
}

.u-section-2 .u-form-group-7 {
  margin-left: 0;
}

.u-section-2 .u-input-7 {
  background-image: none;
}

.u-section-2 .u-btn-2 {
  margin: -58px 415px 13px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 301px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 215px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 231px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 173px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 109px;
  }

  .u-section-2 .u-form-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 440px;
}

.u-section-3 .u-table-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-3 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-custom-html-1 {
  height: auto;
  min-height: 33px;
  margin: -282px 70px 0 848px;
}

.u-section-3 .u-list-1 {
  width: 461px;
  margin: 263px 297px 14px auto;
}

.u-section-3 .u-repeater-1 {
  min-height: 62px;
  grid-auto-columns: 33.3333%;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 718px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: repeat(3, 33.333333333333336%);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-custom-html-1 {
    margin-left: 498px;
  }

  .u-section-3 .u-list-1 {
    margin-right: 259px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 186px;
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-custom-html-1 {
    margin-left: 318px;
  }

  .u-section-3 .u-list-1 {
    margin-right: 79px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-custom-html-1 {
    margin-left: 118px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
    margin-right: 0;
  }
}